@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: #b8d19f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    background-color: #678b5b;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b8d19f;
    font-size: 60px;
    font-family: 'Amaranth', sans-serif;
}


img{
    position: absolute;
    top: 150px;
    left: 620px;
    height: 400px;
    width: auto;
}


button{
    position: absolute;
    bottom: 90px;
    left: 710px;
    border: solid;
    border-radius: 10px;
    padding: 10px;
    background-color: #678b5b;
    color: #b8d19f;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Amaranth', sans-serif;
    cursor: pointer;
}

footer{
    background-color: #678b5b;
    color: #b8d19f;
    width: 100%;
    font-family: 'Amaranth', sans-serif;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    padding-bottom: 50px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}